body{
  background: url(bg.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container {
	margin: 0 auto;
	width: 100%;
}
.canle {
	margin: 0 auto;
	width: 1000px;
}
.header {
	padding: 20px 10px;
	height: 60px;
	background: #d2f1e2;
	opacity: 0.8;
	box-shadow: inset 0 0 8px 0 black;
}
.logo {
	z-index: 100000;
	float: left;
	cursor: pointer;
}
.ts2{

	font-family: cursive;
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	color: #82cb63; 
	text-shadow: 0px 1px 0px #E6F0FF, 0px 2px 0px #CCE0FF, 0px 3px 0px #B2D1FF, 0px 4px 0px #99C2FF, 0px 5px 0px #80B2FF, 0px 6px 7px #66A3FF;
}


@-webkit-keyframes my {
	 0% { color: #F8CD0A; } 
	 50% { color: #fff;  } 
	 100% { color: #F8CD0A;  } 
 }
 @-moz-keyframes my { 
	 0% { color: #F8CD0A;  } 
	 50% { color: #fff;  }
	 100% { color: #F8CD0A;  } 
 }
 @-o-keyframes my { 
	 0% { color: #F8CD0A; } 
	 50% { color: #fff; } 
	 100% { color: #F8CD0A;  } 
 }
 @keyframes my { 
	 0% { color: #F8CD0A;  } 
	 50% { color: #fff;  }
	 100% { color: #F8CD0A;  } 
 } 
 .ts2 {
      font-weight:bold;
	 -webkit-animation: my 1000ms infinite;
	 -moz-animation: my 1000ms infinite; 
	 -o-animation: my 1000ms infinite; 
	 animation: my 1000ms infinite;
}
.bodyct {
	border-radius: 30px;
	width: 100%;
	margin: auto;
	background: #fff;
	opacity: 0.98;
	box-shadow: inset 0px 0px 5px black;
}

.foot {
	width: 100%;
	margin-top: 50px;
	height: 80px;
	background: #bbd0cf;
	opacity: 0.9;
}
form {
  font-family: cursive;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
form h1 {
  padding: 3px 5px;
  color: #368fdb;
  font-family: cursive;
  margin: auto;
}
 
input {
  font-size: 16px;
  font-family: cursive;
  margin: 25px 25px;
  width: 400px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
  font-weight: bold;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 16px;
  transform: translateY(-20px);
  visibility: visible !important;
}
 
.sm {
	margin: 20px 0 6px 0px;
	font-family: cursive;
  border: none;
  background: #1abc8c;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  width: 400px;
  color: white;
  font-size: 18px;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.sm:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
.tt {
	width: 450px;
	float: left;
	box-shadow: 0 0 2px black;
	margin: 10px;
}
.tt2 {
	margin: 10px 10px 10px 0;
	float: right;
	width: 520px;
	box-shadow: 0 0 2px black;
}
.tt3 {
	clear: both;
	height: 15px;
}
form .tt .dn {
	margin-top: 10px;
	font-family: cursive;
	font-size: 30px;
	text-align: center;
	color: #FF8D00;
}
form .tt h2 {
	font-family: cursive;
	font-size: 22px;
	text-align: center;
	color: #FF8D00;
}

form .tt2 h3 {
	font-family: cursive;
	text-align: justify;
	font-size: 18px;
	color: #FFBF00;
	margin: 0px 20px;
}
form .tt2 h4 {
	font-family: cursive;
	font-size: 25px;
	color: #4aa351;
	margin: 0px 10px;
	text-align: justify;
}
.ff {
	font-size: 18px;
	text-align: center;
	margin-top: 8px;
}
a {
	text-decoration: none;
	color: red;
}
.fence {
	height: 30px;
}
.spac {
	height: 5px;
}
.thoigian {
	font-size: 18px;
	text-align: center;
	padding-bottom: 27px;
	padding-top: 4px;
	color: green;
}
.thoigian1 {
	font-size: 17px;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 20px;
	color: #BF00FF;
}
footer {
	background: #6bafed;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
	padding-top: 4px;
	padding-bottom: 8px;
	box-shadow: inset 0 0 8px 0 black;
}